<div>
<h2><%= text %></h2>

<input type="radio" id="q<%= id %>AnswerA" name="q<%= id %>Answers" value="A">
<label for="q<%= id %>AnswerA"><%= answers[0] %></label><br>

<input type="radio" id="q<%= id %>AnswerB" name="q<%= id %>Answers" value="B">
<label for="q<%= id %>AnswerB"><%= answers[1] %></label><br>


<input type="radio" id="q<%= id %>AnswerC" name="q<%= id %>Answers" value="C">
<label for="q<%= id %>AnswerC"><%= answers[2] %></label><br>


<input type="radio" id="q<%= id %>AnswerD" name="q<%= id %>Answers" value="D">
<label for="q<%= id %>AnswerD"><%= answers[3] %></label><br>

</div>
