<div style="margin-top:40px;">
    <h5>Q: <%= text %></h5>

    <input class="form-check-input" type="radio" id="q<%= id %>AnswerA" name="q<%= id %>Answers" value="A">
    <label class="form-check-label" for="q<%= id %>AnswerA" style="margin-right: 10px;"><%= answers[0] %></label>

    <input class="form-check-input" type="radio" id="q<%= id %>AnswerB" name="q<%= id %>Answers" value="B">
    <label class="form-check-label" for="q<%= id %>AnswerB" style="margin-right: 10px;"><%= answers[1] %></label>

    <input class="form-check-input" type="radio" id="q<%= id %>AnswerC" name="q<%= id %>Answers" value="C">
    <label class="form-check-label" for="q<%= id %>AnswerC" style="margin-right: 10px;"><%= answers[2] %></label>

    <input class="form-check-input" type="radio" id="q<%= id %>AnswerD" name="q<%= id %>Answers" value="D">
    <label class="form-check-label" for="q<%= id %>AnswerD" style="margin-right: 10px;"><%= answers[3] %></label>
    
</div>
