<div class="main-content">
    <h3 style="text-align: right;">Hi, <%= name %> (<%= number %>)</h3>

    <div class="row" style="margin-left: 50px;">
        <h3>Exams you can take:</h3>
        <table class="table col-xl-8 col-lg-8 col-md-8">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list-exams">
            </tbody>
          </table>
    </div>

    <div class="row" style="margin-left: 50px;">
        <h3>Exams you have taken:</h3>
        <table class="table col-xl-8 col-lg-8 col-md-8">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Login Date</th>
                <th scope="col">Score</th>
                <th scope="col">Correct / Wrong / Blank</th>
              </tr>
            </thead>
            <tbody class="list-takenExams">
            </tbody>
          </table>
    </div>
</div>
